page-home {

    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    ion-input{
        border-color: black;
        border-radius: 12px;
        background-color: #def;
       
    }

}
